<div id="<%= dom_id assets_owner %>">
  <p>
    <strong>Name:</strong>
    <%= assets_owner.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= assets_owner.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= assets_owner.email %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= assets_owner.position %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= assets_owner.department %>
  </p>

  <p>
    <strong>Dockingstation:</strong>
    <%= assets_owner.dockingStation %>
  </p>

  <p>
    <strong>Desktopmodel:</strong>
    <%= assets_owner.desktopModel %>
  </p>

  <p>
    <strong>Desktopserial:</strong>
    <%= assets_owner.desktopSerial %>
  </p>

  <p>
    <strong>Laptop:</strong>
    <%= assets_owner.laptop %>
  </p>

  <p>
    <strong>Laptopserial:</strong>
    <%= assets_owner.laptopSerial %>
  </p>

  <p>
    <strong>Monitor1:</strong>
    <%= assets_owner.monitor1 %>
  </p>

  <p>
    <strong>Monitor2:</strong>
    <%= assets_owner.monitor2 %>
  </p>

  <p>
    <strong>Monitor3:</strong>
    <%= assets_owner.monitor3 %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= assets_owner.location %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= assets_owner.comment %>
  </p>

  <p>
    <strong>Sap:</strong>
    <%= assets_owner.sap_id %>
  </p>

</div>
